<% will_paginate %>
<table class="table table-hover">
	<thead>
		<th>Friends</th>
	</thead>
	<% friends.each do |friend| %>
  	<tr id="my_friend_<%= friend.id %>">
			<td>
				<% user = User.find_by(:id => friend.id) %>
				<%= link_to "#{user.name}", user_path(user) %>
			</td>
			<td>
				<%= link_to "<i class=\"glyphicon glyphicon-minus\"></i><i class=\"glyphicon glyphicon-user\"></i>".html_safe, friend_path(friend), method: :delete, remote: true %>
			</td>
		</tr>
	<% end %>
</table>
<% will_paginate %>
