<span id="add_friend_<%= user.id %>">
  <%= link_to "<i class=\"glyphicon glyphicon-plus\"></i><i class=\"glyphicon glyphicon-user\"></i>".html_safe, friend_requests_path(friend_id: user),method: :post, remote: true %>
</span>