<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 id="posttitle">Listing All Users</h1>
    <div>
      <%= form_tag(users_path, method: "get", id: "search-user-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
        <%= button_tag(type: 'submit') do %>
          <span class="glyphicon glyphicon-search"></span> 
        <% end %>
      <% end %>
    </div>
    <div id="users">
    	<%= render 'show_all_users' %>
    </div>
  </div>
</div>

