<div class="row">
  <%= render "layouts/subscriber" %>
  <div class="col-md-6 col-md-offset-3">
    <h1 id="posttitle">Listing Your Posts</h1>
    <% if @posts.count == 0 %>
      Create your first blog. It's easy!</br>
    <% end %>
    <%= link_to "Create a New Blog", new_post_path %>
    <%= render "myposts" %>
  </div>
</div>

    

    
  

