/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require social-share-button
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {

    background: transparent;
 }

 #logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: transparent;
}

#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 2px solid grey;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    width: 200px;
    padding-left: 30px;
    padding-top: 80px;
    list-style: none;
    background-color: transparent;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: black;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 20px;
    font-size: 40px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: white;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: black;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
        background-color: transparent;

    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
#tell-a-friend{
    border-top: dashed 2px grey;
    padding-top: 20px;
}
.eachcomment{
    border: 2px solid grey;
    border-radius: 15px 50px 30px 5px;
    padding-left: 20px;
 }
 #commenter{
    font-size: small;
 }
 .commentcontent{
    font-style: italic;
 }
#username{
    color: black;
}
#postcontent{
    border: solid 0.5px #B2D9E9;
    border-radius: 10px;
    padding: 5px;
}
#posttitle{
    margin-top: 80px;
}
#conveylogo{
    float: left;
    margin: 0; 
}
.navbar-right{
    background-color: transparent;
}
.replycontent{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px #929698 dashed;
    border-radius: 5px;   
}
#replydelete{
    font-size: small;
}
#timeago{
    color: #AFB4B7;
}
.replies{
    display: none;
}
.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
.round-image-profile{
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}
.profile-image{
    float: right;
}
#user-profile{
    background-color: #DACEA4;
    padding-left: 10px; 
    padding-bottom: 10px;
    border-radius: 5px;
}
#about-user{
    color: white
}
.navbar{
    background: url(navigation.jpg);
}
.nav{
   background-color: black; 
}
.add-reply{
    display: none;
}
#rating{
    float: right;
}
.login{
    margin-top: 20px;
    box-shadow: 10px 10px 5px #888888;
    border: #E2E2E2 1px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}
#postimage{

    margin-top: 10px;
}
#marquee-div{
    height: 50px;
    width: 100%;
    margin-top: 100px;
    padding-top: 15px;
    background: white;
}
.friends{
    float: right;
    border: solid grey 2px;
    padding: 30px;
    position: fixed;
    top: 300px;
    right: 0px;
    width: 281.11px;
    overflow: auto;
    max-height: 300px;
}
.subscribers-div{
    position: fixed;
    right: 0px;
    border: solid grey 2px;
    margin-top: 100px;
    padding: 30px;
    width: 281.11px;

}
