<% if !Subscriber.exists?(:email => current_user.email) %>
	<div id="subscribers_div_current_user">
		<%= form_for(:subscriber, :url => url_for(controller: "subscribers", action: "create", method: :post), remote: true) do |f|%>
			<p><%= f.hidden_field(:email, :value => current_user.email) %></p>
			<p><%= f.submit "subscribe", class: "btn btn-primary" %></p>
		<% end %>
	</div>
<% end %>