<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <p class="text-center text-info">Page is under construction.</p>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

